body {
  font-family: Arial, sans-serif;
  background: #e4ebeb;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cartao {
  background: white;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.foto-perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cartao h1 {
  font-size: 28px;
  margin: 10px 0 5px;
}

.cartao p {
  font-size: 18px;
  color: #555;
  margin-bottom: 25px;
}

.links a {
  display: block;
  margin: 10px auto;
  text-decoration: none;
  color: white;
  background: #f9aa65;
  padding: 12px 0;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  transition: background 0.3s ease;
}

.links a:hover {
  background: #d88b47;
}

.links a:focus,
.links a:active {
  outline: none;
  background-color: #f9aa65;
  box-shadow: 0 0 8px rgba(249, 170, 101, 0.6);
}

footer {
  margin-top: 30px;
}

footer a img {
  width: 30px;
  margin: 0 10px;
}

.rodape-texto {
  font-size: 10px;
  color: #777;
  text-align: center;
  margin-top: 10px;
  line-height: 1.2;
}
.cartao.acender {
  box-shadow: 0 0 30px rgba(249, 170, 101, 0.6), 0 0 60px rgba(249, 170, 101, 0.3);
  background: #fffefc;
}
.cartao:hover {
  box-shadow: 0 0 30px rgba(249, 170, 101, 0.6), 0 0 60px rgba(249, 170, 101, 0.3);
  background: #fffefc;
}
